@model Hackathon_Internship.Models.court

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Court Name
        </dt>

        <dd>
            Court Name
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            Location
        </dd>

        <dt>
            Number of Courts
        </dt>

        <dd>
            Number of Courts
        </dd>

        <dt>
            Cost
        </dt>

        <dd>
            Cost
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.court_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
